{% block content %}
    <div class="container mt-4">
        <h1>Seia</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Region</th>
                    <th scope="col">Tipo de proyecto</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for proyecto in proyectos %}
                    <tr>
                        <td>{{ proyecto.name }}</td>
                        <td>{{ proyecto.fecha }}</td>
                        <td>{{ proyecto.region }}</td>
                        <td>{{ proyecto.tipo_proyecto }}</td>
                        <td>{{ proyecto.estado }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Menú de opciones</h2>
        <ul>
            <li><a href="http://127.0.0.1:8000">Home</a></li>
            <li><a href="http://127.0.0.1:8000/admin">Admin</a></li>
            <li><a href="http://127.0.0.1:8000/bike_list">Bike list</a></li>
            <li><a href="http://127.0.0.1:8000/bike">Bike data update</a></li>
            <li><a href="http://127.0.0.1:8000/sea">Sea data update</a></li>
        </ul>
    </div>
{% endblock %}